.bodycontainer{
    /* border: 1px solid gray; */
    background-color: rgb(212, 212, 212);
    padding: 10px;
}
.developersphoto{
    margin: 20px auto;
    width: fit-content;
}
.developersphoto img{
    height: 200px;
}
.aboutuscontent p{
    text-align: justify;
    width: 80%;
    margin: auto;
    font-size: 22px;
}
