
.bodycontainer{
    background-color: white;
}
.bar1 ul{
    list-style: none;
    display: flex;
    border: 1px solid #dfe1e8;
    padding: 10px;
    margin: 10px 0;

}
.bar1 ul li{
    margin: 5px;
    padding: 0px 10px;
}
.bar1 ul li:nth-child(1){
    border-right: 1px solid #dfe1e8;
}
.discriptionbar{
    /* border: 1px solid #dfe1e8; */
    padding: 10px;
    text-align: justify;
    margin: 10px 0;
}
.keyspecificationbar{
    border: 1px solid #dfe1e8;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 500px;

}
.keyspecificationbar .mobileimage{
    /* width: 40%; */
    margin: auto;
}
.keyspecificationbar img{
    height: 250px;
    margin: auto;
}
.innerkeyspecificationbar {
    width: 60%;
    border-left: 1px solid #dfe1e8;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.keyspecificationbar .price{
    padding: 10px;
}
.keyspecificationbar .variants{
    padding: 10px;
    font-size: 13px;
}
.variants a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 4px;
}
.keyspecificationbar .buylinks{
    border: 1px solid #dfe1e8;
    display: flex;
    flex-direction: column;
    padding: 15px 5px;
    /* margin: 10px 0; */

}
.buylinks a{
    border-bottom: 1px solid #dfe1e8;
    padding: 5px;
}
.specifications{
    /* border: 1px solid #dfe1e8; */
    margin: 20px 0;
    width: 100%;
    /* position: absolute;
    bottom: 0px; */
}
.specifications table{
    float:inline-end;
    width: 100%;
    /* border: 1px solid #dfe1e8; */
}
.specifications td,th{
    text-align: left;
    /* border: 1px solid #dfe1e8; */
    padding: 10px;
}
.procons{
    border: 1px solid #dfe1e8;
    margin: 10px 0;
    padding: 10px;   
}
.procons .stuffs{
    margin: 10px 0;
    display: flex;
    /* flex-direction: row; */

}
.stuffs ul{
    margin:0 80px 0 20px;
}
.stuffs li{
    padding: 5px;
    list-style: disc;
}
.stuffs li:nth-child(1){
    list-style: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
}
.detailspecifications{
    border: 1px solid #dfe1e8;
    padding: 10px;
}
.detailspecifications .heading{
    background-color: rgb(116, 116, 116);
}
.detailspecifications table{
    width: 100%;
}
.detailspecifications td{
    border: 1px solid #dfe1e8;
    padding: 10px;
    min-width: 150px;
}
.goodstuff li:nth-child(1){
    color: green;
}
.badstuff li:nth-child(1){
    color: red;
}